/* .pitch-trainer-button {
  margin: theme.spacing.unit;
}

.pitch-trainer-leftIcon {
  marginRight: theme.spacing.unit;
}

rightIcon {
  marginLeft: theme.spacing.unit,
}

iconSmall {
  fontSize: 20; 
}
*/